<!doctype html>
<html>
	<title>Новости</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf8">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>
	<style type="text/css">

	body {
		background:#FFFFFF; 
		font-family:Arial,Helvetica,sans-serif;
		font-weight:normal;
		font-size:9pt
	}
	* { 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.err {color: red}
	.red {color: red}
	.rm {color: red; text-decoration: none }

	</style>

	<body>
		<div id="app">
			<news-info></news-info>
		</div>

		<template type="text/x-template" id="news-info">
			<div>
				<div class="tot">
					Показано новостей: <b>{{items.length}}</b>
				</div>
				<table v-if="items.length > 0">
					<tr>
						<th>id</th>
						<th>Дата создания</th>
						<th>Автор</th>
						<th>Для чего</th>
					</tr>
					<tr v-for="b, i in items">
						<td class="al">{{b.title || '-'}}</td>
					</tr>
				</table>
			</div>
		</template>

		<script type="text/javascript">

		Vue.component('news-info', {
			template: '#news-info',
			data() {
				return {
					items: []
				}
			},
			mounted() {
				this.fetchNews()
			},
			computed: {
			},
			methods: {
				fetchNews () {
					fetch("/news").then(function (r) { return r.json() }).then(function (r) {
						console.log(r)
					})
				}
			}
		});

		var app = new Vue({
			el: '#app'
		});

		</script>

	</body>
</html>
